header, footer {
  display: block;
}

header img {
  display: block;
  width: 500px;
  margin: 30px auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container > div {
  position: relative;
}

.container canvas {
  position: absolute;
  top: 0;
  left: 0;
}

footer a {
  display: block;
  width: 140px;
  margin: 25px auto 0;

  color: rgb(102, 102, 102);
}
